<div class="ui grid">
  <div class="ten wide column">
    <app-activity-list
      [activities]="activities"
      (selectedActivity)="onSelectedActivity($event)"
    ></app-activity-list>
  </div>
  <div class="six wide column">
    <app-activity-details
      *ngIf="currentActivity && !editMode"
      [currentActivity]="currentActivity"
      (changedEditMode)="onChangedEditMode($event)"
      (changedCurrentActivity)="onChangedCurrentActivity($event)"
    ></app-activity-details>
    <app-activity-form
      *ngIf="editMode"
      (changedEditMode)="onChangedEditMode($event)"
      [currentActivity]="currentActivity"
    ></app-activity-form>
  </div>
</div>
