<ng-container *ngIf="activityState$ | async as activityState">
  <div class="ui grid">
    <div class="ten wide column">
      <app-activity-list></app-activity-list>
    </div>
    <div class="six wide column">
      <app-activity-details
        *ngIf="activityState.selectedActivity && !activityState.editMode"
      ></app-activity-details>
      <app-activity-form
        *ngIf="activityState.editMode"
        [currentActivity]="activityState.selectedActivity"
      ></app-activity-form>
    </div>
  </div>
</ng-container>
