<div class="ui clearing segment">
  <form class="ui form">
    <div class="field">
      <div class="ui input">
        <input
          placeholder="Title"
          type="text"
          value="{{ currentActivity.title }}"
        />
      </div>
    </div>
    <div class="field">
      <div class="ui input">
        <textarea placeholder="Description" rows="2">{{
          currentActivity.description
        }}</textarea>
      </div>
    </div>
    <div class="field">
      <div class="ui input">
        <input
          placeholder="Category"
          type="text"
          value="{{ currentActivity.category }}"
        />
      </div>
    </div>
    <div class="field">
      <div class="ui input">
        <input
          placeholder="Date"
          type="date"
          value="{{ currentActivity.date }}"
        />
      </div>
    </div>
    <div class="field">
      <div class="ui input">
        <input
          placeholder="City"
          type="text"
          value="{{ currentActivity.city }}"
        />
      </div>
    </div>
    <div class="field">
      <div class="ui input">
        <input
          placeholder="Venue"
          type="text"
          value="{{ currentActivity.venue }}"
        />
      </div>
    </div>
    <div class="field">
      <button class="ui button right floated positive" type="submit">
        Submit
      </button>
      <button class="ui button right floated" (click)="setEditMode(false)">
        Cancel
      </button>
    </div>
  </form>
</div>
