<div class="ui segment">
  <form class="ui form">
    <div class="field">
      <div class="ui input"><input placeholder="Title" type="text" /></div>
    </div>
    <div class="field">
      <div class="ui input">
        <textarea placeholder="Description" rows="2"></textarea>
      </div>
    </div>
    <div class="field">
      <div class="ui input"><input placeholder="Category" type="text" /></div>
    </div>
    <div class="field">
      <div class="ui input"><input placeholder="Date" type="date" /></div>
    </div>
    <div class="field">
      <div class="ui input"><input placeholder="City" type="text" /></div>
    </div>
    <div class="field">
      <div class="ui input"><input placeholder="Venue" type="text" /></div>
    </div>
  </form>
</div>
