<ng-container *ngIf="activityState$ | async as activityState">
  <app-loading
    *ngIf="activityState.loadingInitial; else mainContent"
    content="Loading activities..."
  ></app-loading>
  <ng-template #mainContent>
    <app-nav-bar (openedCreateForm)="onOpenedCreateForm()"></app-nav-bar>
    <div class="ui container" style="margin-top: 7em">
      <app-activity-dashboard
        [activities]="activityState.activities"
        (changedActivity)="onChangedActivity($event)"
        [currentActivity]="currentActivity"
        [editMode]="editMode"
        (changedEditMode)="onChangedEditMode($event)"
        (changedCurrentActivity)="onChangedCurrentActivity($event)"
        (createdActivity)="onCreatedActivity($event)"
        (editedActivity)="onEditedActivity($event)"
        (deletedActivity)="onDeletedActivity($event)"
        [submitting]="submitting"
        [target]="target"
      ></app-activity-dashboard>
    </div>
  </ng-template>
</ng-container>
