<div class="ui fluid card">
  <div class="image">
    <img src="assets/categoryImages/{{ currentActivity.category }}.jpg" />
  </div>
  <div class="content">
    <div class="header">{{ currentActivity.title }}</div>
    <div class="meta">
      <span>{{ currentActivity.date }}</span>
    </div>
    <div class="description">{{ currentActivity.description }}</div>
  </div>
  <div class="extra content">
    <div class="ui two wide buttons">
      <button class="ui basic blue button" (click)="setEditMode(true)">
        Edit</button
      ><button class="ui basic grey button">
        Cancel
      </button>
    </div>
  </div>
</div>
